#!/bin/bash

name=mariadb
docker stop ibbd-$name 
docker rm ibbd-$name 

# 绑定IP时可以限制访问只允许宿主机器访问
#-p 127.0.0.1：3306:3306 \
docker run --name=ibbd-$name -d \
    -e MYSQL_ROOT_PASSWORD=111111 \
    -p 3306:3306 \
    -v /data/mysql:/var/lib/mysql \
    -v /var/log/mysql:/var/log/mysql \
    -v /path/to/conf/my.cnf:/etc/mysql/my.cnf:ro \
    ibbd/$name

docker ps

